
p {
   margin: 0 0 10px;
   font-size: 18px;
}


a:link {text-decoration:none;}


.content {
    padding:10px 20px;
    background-color: white;
}

.title-center {
    text-align: center;
}

.post-author {
    text-align: center;
    color:#5e5e5e;font-style: initial;font-size: 20px;
}

.underline {
    border-top: 1px solid olive;
}

.fr {
    float:right
}
.fl {
    float:left
}

.clear {
    clear:both;
}
.title{
    text-align: center;
    font-size: 40px;
    font-family: "1942 report";
}




