{% extends 'layout.html' %}

{% block body %}
    <h1><small>{{ session.username }}</small></h1>
    <a class="btn " href="/add_article"> 添加</a>
    <hr>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>作者</th>
            <th>日期</th>
            <th></th>
            <th></th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.author }}</td>
                <td>{{ article.create_date }}</td>
                <td><a href="edit_article/{{ article.id }}" class="btn pull-right">编辑</a></td>
                <td>
                    <form action="{{ url_for('delete_article', id=article.id) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="删除" class="btn">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <h1 class="title-center"></h1>
{% endblock %}


