<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>个人文章管理网站</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
    <style type="text/css">
    .div1{
        width: 100%;
        height: 100%;
    }
    </style>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="div1">
        <div class="container"  >
         {% include 'includes/_messages.html' %}
         {% block body %}{% endblock %}
         </div>
    </div>
    {% include 'includes/_footer.html' %}
  </body>
</html>
